@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 95%;
        --foreground: 0 0% 3%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3%;

        --popover: 0 0% 100%; /* TODO : Change this */
        --popover-foreground: 0 0% 3.9%; /* TODO : Change this */

        --primary: 0 0% 13%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 100%;
        --secondary-foreground: 0 0% 3%;

        --muted: 210 10% 90%;
        --muted-foreground: 0 0% 50%;

        --accent: 0 0% 96.1%; /* TODO : Change this */
        --accent-foreground: 0 0% 9%; /* TODO : Change this */

        --destructive: 0 94% 67%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --ring: 0 0% 0%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 6.5%;
        --foreground: 0 0% 98%;

        --card: 0 0% 12.5%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%; /* TODO : Change this */
        --popover-foreground: 0 0% 98%; /* TODO : Change this */

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 3%;

        --secondary: 0 0% 40%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 20%;
        --muted-foreground: 0 0% 64%;

        --accent: 0 0% 14%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 55% 50%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --ring: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
